---
import "../css/common.css";
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
import LiveSection from '../components/LiveSection.vue'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />		
		<link rel="icon" type="image/svg+xml" href="/images/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Moments in life</title>
	</head>
	<body>
		<Header  active="2" client:load></Header>
		<LiveSection></LiveSection>
		<Footer></Footer>
	</body>
</html>